# Игнорируем скомпилированные классы и логи
.gradle/
build/
out/
*.class
*.log

# Игнорируем настройки IntelliJ IDEA (у каждого разработчика они свои)
.idea/
*.iml
*.iws

# Игнорируем системный мусор
.DS_Store
Thumbs.db